<nav class="navbar navbar-expand-lg navbar-dark">
    </div>
            <%#= link_to "Sign Up", new_employee_registration_path, class: "btn btn-outline-warning" %>
            <%# <%= link_to "Log In", new_employee_session_path, class: "btn btn-outline-success" %>
            <%= link_to "HackFest", root_path, class: "navbar-brand mx-auto" %>
            <% if employee_signed_in?  %>
                <%= link_to "Log Out", destroy_employee_session_path, method: :delete, class: "btn btn-outline-warning" %>
            <% end %>
    </div>
    
</nav>
